
.head{
    background-color: blue;
    color: white;
    display: flex;
   /* background: 20px;*/
  position: relative;
 /* padding: 10px 200px;*/
 por
}
.form{
    
    background-color: aqua;
    color: black;
 

}
.sn{
    display:flexbox;

}